@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Figtree:ital,wght@0,300..900;1,300..900&family=Geist+Mono:wght@100..900&family=Geo:ital@0;1&family=Hind+Mysuru:wght@300;400;500;600;700&family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jura:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&family=Lilita+One&family=Outfit:wght@100..900&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spicy+Rice&family=Spline+Sans:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Geo", sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #008080;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    width: 90%;
    max-width: 750px;
    display: flex;
}
.gallery{
    flex-basis: 48%;
    background: #241e20;
    transform: scale(1.08);
    box-shadow: -9px 6px 9px 9px rgba(0, 0, 0, 0.322);
    position: relative;
}
.gallery img{
    width: 100%;
    display: block;
    padding-top: 100px;
}
.details{
    flex-basis: 52%;
    background: white;
    padding: 40px;
    padding-left: 60px;
    font-size: 15px;
    font-weight: 300;
    color: #777;
}
.details h1{
    color: #333;
    font-size: 36px;
}
.details h2{
    color: #555;
    font-size: 30px;
    font-weight: 600;
}
.details h3{
    color: #008080;
    margin-bottom: 18px;
    font-size: 27px;
}
.details form{
    font-size: 27px;
    font-weight: 450;
}
.size-select{
    display: flex;
    align-items: center;
    margin-top: 45px;
}
.size-select p{
    width: 69px;
}
.size-select input:checked + span{
    transform: scale(1.5);
    color: #008080;
    font-weight: 600;
}
.size-select input{
    display: none;
}
.size-select span{
    font-size: 21px;
    padding: 9px;
    cursor: pointer;
    margin-right: 9px;
}
.size-select span:hover{
    background: black;
    color: white;
}
.color-select{
    display: flex;
    align-items: center;
    margin-top: 27px;
}
.color-select p{
    width: 81px;
}
.color-select input:checked + span{
    color: #008080;
    font-weight: 600;
}
.color-select input{
    display: none;
}
.color-select span{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 21px;
    padding: 9px;
    cursor: pointer;
    padding: 9px;
    margin-right: 9px;
}
.color-select .color1:hover{
    background: blue;
    color: white;
}
.color-select .color2:hover{
    background: green;
    color: white;
}
.color-select .color3:hover{
    background: blueviolet;
    color: white;
}
.color-select .color4:hover{
    background: black;
    color: white;
}
.quantity-select{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.quantity-select p{
    width: 150px;
}
.quantity-select input{
    height: 36px;
    background: #eee;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 54px;
    border-radius: 21px;
}
form button{
    margin-top: 27px;
    width: 90%;
    height: 45px;
    background: #008080;
    border-radius: 18px;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.322);
    cursor: pointer;
}
form button:hover{
    background: #00808050;
    color: black;
}
.controls{
    position: absolute;
    bottom: 39px;
    right: 18px;
}
.btn{
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
    padding: 9px;
    margin: 9px;
    cursor: pointer;
}
.btn.active{
    background: #008080;
}
